{
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    "plugins": ["transform-runtime"],
    "presets": [
        ["env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "sourceMaps": "inline"
}
