node_modules
npm-debug.log
travis.log
build
docs/*
!docs/*.conf.json
!docs/*.ico
.vscode
src/core/config/modules/*
src/core/config/OperationConfig.json
src/core/operations/index.mjs
src/node/index.mjs
src/node/config/OperationConfig.json

**/*.DS_Store