# We can't currently enable strict engine enforcement, because
# `@astronautlabs/amf@0.0.6` enforces an old Node version.
# They've already fixed this, but the fix hasn't been released yet.
# See: https://github.com/astronautlabs/amf/issues/1
# engine-strict=true
