#recipe {
    position: relative;
}

#rec-list .operation {
    color: var(--rec-list-operation-font-colour);
    background-color: var(--rec-list-operation-bg-colour);
    border-color: var(--rec-list-operation-border-colour);
}
