#banner .col:first-child {
    text-align: left;
    padding-left: 10px;
}

#banner .col:last-child {
    text-align: right;
    padding-right: 0;
}

#controls-content .form-group {
    display: contents;
}

#open-folder,
#open-file {
    display: none;
}

#input-tabs-wrapper,
#output-tabs-wrapper {
    display: none;
}

#save-all-to-file {
    display: none;
}

#save-link-group h6 {
    display: inline;
}

#save-link {
    word-wrap: break-word;
}

#options-body > p:first-child {
    font-weight: bold;
}

.favourites-action-label {
    font-weight: bold;
}

#about,
#keybindings {
    padding: 20px;
}

.fork-me-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.clear-both {
    clear: both;
}
