/* Spin */
.spin {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0%      {transform: rotate(0deg);}
    100%    {transform: rotate(360deg);}
}



/* Pulse */
.pulse {
    box-shadow: 0 0 0 0 rgba(90, 153, 212, .3);
    animation: pulse 1.5s 1;
}

.pulse:hover {
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 20px rgba(90, 153, 212, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}


