:root {
    /* Fixed heights */
    --banner-height: 40px;
    --controls-height: 70px;
    /*initial mobile height*/
    --operations-height: 90px;
}

/**
 * A note:
 *
 * Heights of #recipe, #input and #output are set programmatically
 * in App.js > divideAvailableSpace(), please see the docs for that
 * function for more information.
 */


