:root {
    --banner-height: 40px;
    --controls-height: 70px;
    --workspace-height: calc( 100vh - var(--banner-height) - var(--controls-height));
    --recipe-height: 38vh;
    --operations-height: 89px;
    --io-height: calc(100vh - var(--banner-height) - var(--controls-height) - var(--recipe-height) - var(--operations-height));
}
