:root {
    /* Fixed heights */
    --banner-height: 40px;
    /*initial mobile height*/
    --controls-height: 50px;
    --operations-height: 90px;

    --desktop-controls-height: 70px;
}

/**
 * A note:
 *
 * Heights of #recipe, #input and #output are set programmatically
 * in App.js
 */


