/**
 * Operations - Search component
 */

#search {
    padding-left: 10px;
    padding-right: 10px;
    background-image:
        linear-gradient(to top, var(--input-highlight-colour) 2px, rgba(0, 0, 0, 0) 2px),
        linear-gradient(to top, var(--primary-border-colour) 1px, rgba(0, 0, 0, 0) 1px);
}

