/* Highlighting */
.ͼ2.cm-focused .cm-selectionBackground {
    background-color: var(--hl5);
}

.ͼ2 .cm-selectionBackground {
    background-color: var(--hl1);
}

.ͼ1 .cm-selectionMatch {
    background-color: var(--hl2);
}

.ͼ1.cm-focused .cm-cursor.cm-cursor-primary {
    border-color: var(--primary-font-colour);
}

.ͼ1 .cm-cursor.cm-cursor-primary {
    display: block;
    border-color: var(--subtext-font-colour);
}
