/* Not to be confused with #search-results in Operations */

#input-search-results,
#output-search-results {
    list-style: none;
    width: 75%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#input-search-results li,
#output-search-results li {
    padding: 10px 5px;
    text-align: center;
    width: 100%;
    color: var(--op-list-operation-font-colour);
    background-color: var(--op-list-operation-bg-colour);
    border-bottom: 2px solid var(--op-list-operation-border-colour);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#input-search-results li:first-of-type,
#output-search-results li:first-of-type {
    border-top: 2px solid var(--op-list-operation-border-colour);
}

#input-search-results li:hover,
#output-search-results li:hover {
    cursor: pointer;
    filter: brightness(98%);
}
